<div class="modal-header">
    <h4 class="modal-title">My Form</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    </button>
</div>
<div>
    <barcode-scanner-livestream type="code_39" (valueChanges)="onValueChanges($event)"></barcode-scanner-livestream>
</div>
<button (click)="submitForm()">Sumbit</button>

<!-- <div>
    <form [formGroup]="demoForm">
        <div formArrayName="demoArray" *ngFor="let arrayItem of arrayItems; let i=index">
            <input [id]="arrayItem.title" type="checkbox" [formControl]="demoArray[i]">
            <label [for]="arrayItem.title" class="array-item-title">
                {{arrayItem.title}}</label>

        </div>
    </form>
</div> -->