<div style="background-color: white;">
  <img src="../assets/images/header.GIF" alt="Company Logo">
</div>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" style="font-size: 1em" id="navbarDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Operations
      </a>

      <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
        <a class="dropdown-item bg-dark nav-link" style="font-size: 1em" routerLink="view-sites">View Sites</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item bg-dark nav-link" style="font-size: 1em" routerLink="capture-waybill">Capture
          Waybills</a>
        <a class="dropdown-item bg-dark nav-link" style="font-size: 1em" routerLink="view-waybills">View Waybills</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item bg-dark nav-link" style="font-size: 1em" routerLink="view-manifests">Manifests</a>
        <!-- <div class="dropdown-divider"></div> -->
        <!-- <a class="dropdown-item bg-dark nav-link" style="font-size: 1em" routerLink="about/33">About</a> -->
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" style="font-size: 1em" id="navbarDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Tools
      </a>
      <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
        <a class="dropdown-item bg-dark nav-link" style="font-size: 1em" routerLink="scan-barcode">Settings</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item bg-dark nav-link" style="font-size: 1em" routerLink="demo">About</a>
      </div>
    </li>

  </ul>
</nav>
<br>

<router-outlet></router-outlet>