<!-- <ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="about/33">About</a></li>
  <li><a routerLink="view-waybills/">View Waybills</a></li>
  <li><a routerLink="fetchdata">fetchdata</a></li>  
</ul> -->

<!-- <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
      <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="view-waybills">View Waybills</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="view-waybills">Operations</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="about/33">About</a></li>
      </ul>
  </div>
</nav> -->

<!-- <div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width:100%; font-size: small;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" sticky-top href="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Operations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item nav-link" routerLink="view-waybills">View Waybills</a>
          <a class="dropdown-item nav-link" routerLink="fetchdata">Capture Waybills</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item nav-link" routerLink="about/33">Manifests</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item nav-link" routerLink="about/33">About</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
</div> -->


  <!-- <div style="background-color: white;">
    <img src="../assets/images/header.GIF" alt="Company Logo">
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="font-size: 1em" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Operations
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item nav-link" style="font-size: 1em" routerLink="view-waybills">View Waybills</a>
                  <a class="dropdown-item nav-link" style="font-size: 1em" routerLink="fetchdata">Capture Waybills</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item nav-link" style="font-size: 1em" routerLink="about/33">Manifests</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item nav-link" style="font-size: 1em" routerLink="about/33">About</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" style="font-size: 1em" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tools
                  </a>
                  <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item nav-link" style="font-size: 1em" routerLink="view-waybills">View Waybills</a>
                    <a class="dropdown-item nav-link" style="font-size: 1em" routerLink="fetchdata">Capture Waybills</a>
                    <a class="dropdown-item nav-link" style="font-size: 1em" routerLink="about/33">Manifests</a>
                    <a class="dropdown-item nav-link" style="font-size: 1em" routerLink="about/33">About</a>
                  </div>
                </li>
  
            </ul>
  </nav>
  <br> -->


<router-outlet></router-outlet>
