<div class="container color-light"
    style="display:flex; flex-direction: row; justify-content: center; align-items: center">

    <div class="container">
        <div class="row">
            <div class="col-xl-12" style="text-align: center;">
                <label class="heading">Site Details</label>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xl-3 offset-xl-1"></div>
            <div class="col-xl-2">
                Site Code:
            </div>
            <div class="col">
                <input class="txt-narrow" placeholder="Site Code..." #SiteCode>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 offset-xl-1"></div>
            <div class="col-xl-2">
                Site Name:
            </div>
            <div class="col">
                <input class="txt" placeholder="Site Name..." #SiteName>
            </div>
        </div>


        <div class="row">
            <div class="col-xl-3 offset-xl-1"></div>
            <div class="col-xl-2">
                Address
            </div>
            <div class="col">
                <input class="txt-wide" placeholder="Street Address..." #StreetAddress>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 offset-xl-1"></div>
            <div class="col-xl-2">
                
            </div>
            <div class="col">
                <input class="txt-wide" placeholder="Suburb..." #Suburb>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 offset-xl-1"></div>
            <div class="col-xl-2">
                
            </div>
            <div class="col">
                <input class="txt-wide" placeholder="City..." #City>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 offset-xl-1"></div>
            <div class="col-xl-2">
                
            </div>
            <div class="col">
                <input class="txt-wide" placeholder="Province..." #Province>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 offset-xl-1"></div>
            <div class="col-xl-2">
                Postal Code:
            </div>
            <div class="col">
                <input class="txt-narrow" placeholder="" #PostalCode>
                <button type="button" class="btn"> Find
                </button>
            </div>

        </div>

        <div class="row">
            <div class="col-xl-3 offset-xl-1"></div>
            <div class="col-xl-2">
                Contact Name:
            </div>
            <div class="col">
                <input class="txt" placeholder="" #ContactName>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 offset-xl-1"></div>
            <div class="col-xl-2">
                Contact Number:
            </div>
            <div class="col">
                <input class="txt" placeholder="" #ContactNumber>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-xl-3 offset-xl-1"></div>
            <div class="col-xl-2 offset-xl-1">

                    <button type="button" class="btn btn-default btn"> Save
                    <!-- <span class="glyphicon glyphicon-sav" aria-hidden="true"></span> Save -->
                </button>
                <button type="button" class="btn"> Cancel
                    <!-- <span class="glyphicon glyphicon-cancel" aria-hidden="true"></span> Cancel -->
                </button>

            </div>

        </div>
        <br>
    </div>