.wb_grid_data_2col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 120px  240px;
  // grid-row-gap:    1px;
  grid-column-gap: 5px;  
}


.wb_grid_data_4col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:    500px 500px;
  grid-row-gap:    1px;
  grid-column-gap: 5px;  
}

.wb_grid_data_6col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:    50px 50px;
    grid-row-gap:    1px;
    grid-column-gap: 5px;  
  }

  .wb_grid_footer {
    display: grid;
    grid-template-columns: 750px 150px 150px;
    grid-template-rows:    100px;
    grid-row-gap:    1px;
    grid-column-gap: 5px;  
  }

  .k-grid-toolbar a {
    float:left;
}