<div class="container color-light"
    style="display:flex; flex-direction: row; justify-content: center; align-items: center">

    <div class="container">


        <div class="row">
            <div class="col-xl-12" style="text-align: center;">
                <label class="heading">Capture Waybill</label>
            </div>
        </div>

        <br>

        <div class="row" style="text-align: left;">
            <div class="col-sm-1">
                Number:&nbsp;
            </div>
            <div class="col-sm-3">
                <input kendoTextBox class="txt" name="item" placeholder="Waybill Number..." #WaybillNumber>
            </div>
            <div class="col-sm-1">
                Date:&nbsp;
            </div>
            <div class="col-sm-3">
                <kendo-datepicker class="txt" [format]="'yyyy/MM/dd'" [value]="DefaultWaybillDate">
                </kendo-datepicker>
            </div>
            <div class="col-sm-1">
                Ref.:&nbsp;
            </div>
            <div class="col-sm-3">
                <input kendoTextBox class="txt" name="item" placeholder="Reference Number..." #WaybillNumber>
            </div>
        </div>

        <!-- row spacer -->
        <div class="row">
            <div class="col-sm-12">
                <div style="height:5px"></div>
            </div>
        </div>
        <!-- row spacer -->

        <div class="row" style="text-align: left;">
            <div class="col-sm-1">
                Sender:&nbsp;
            </div>
            <div class="col-sm-3">
                <kendo-dropdownlist [popupSettings]="{ height: 300, width: 300 }"
                    [placeholder]="'Start typing to see sites...'" #SenderList [filterable]="true" [data]="siteListData"
                    [textField]="'SiteName'" [valueField]="'SiteCode'">
                </kendo-dropdownlist>
            </div>
            <div class="col-sm-1">
                Receiver:&nbsp;
            </div>
            <div class="col-sm-3">
                <kendo-dropdownlist [popupSettings]="{ height: 300, width: 300 }"
                    [placeholder]="'Start typing to see sites...'" #ReceiverList [filterable]="true"
                    [data]="siteListData" [textField]="'SiteName'" [valueField]="'SiteCode'">
                </kendo-dropdownlist>
            </div>
            <div class="col-sm-1">
                Service:&nbsp;
            </div>
            <div class="col-sm-3">
                <kendo-dropdownlist [data]="serviceTypes" [textField]="'Code'" [valueField]="'Description'">
                </kendo-dropdownlist>
            </div>
        </div>

        <!-- row spacer -->
        <div class="row">
            <div class="col-sm-12">
                <div style="height:5px"></div>
            </div>
        </div>
        <!-- row spacer -->

        <div id="grid">
            <form novalidate #myForm="ngForm">
                <kendo-grid #WaybillItems [kendoGridBinding]="gridData" [pageSize]="50" [pageable]="false"
                    [sortable]="false" [filterable]="false" [groupable]="false" [height]="300" [selectable]="true"
                    (dataStateChange)="onStateChange($event)" (edit)="editHandler($event)"
                    (cancel)="cancelHandler($event)" (save)="saveHandler($event)" (remove)="removeHandler($event)"
                    (add)="addHandler($event, myForm)" [pageSize]="gridState.take" [skip]="gridState.skip"
                    [sort]="gridState.sort" [navigable]="true">

                    <ng-template kendoGridToolbarTemplate>
                        <button class="k-grid-toolbar" kendoGridAddCommand>Add new</button>
                        <!-- <button class='k-button' (click)="saveChanges(grid);">Save Changes</button>
                    <button class='k-button' (click)="cancelChanges(grid);">Cancel Changes</button> -->
                    </ng-template>

                    <kendo-grid-column title="Quantity" field="ItemQuantity" [width]="50">
                        <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                            <input [(ngModel)]="dataItem.ItemQuantity" kendoGridFocusable name="ItemQuantity"
                                class="k-textbox" type="number" required />
                        </ng-template>
                    </kendo-grid-column>

                    <kendo-grid-column title="Description" field="ItemDescription" [width]="200">
                        <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                            <input [(ngModel)]="dataItem.ItemDescription" kendoGridFocusable name="ItemDescription"
                                class="k-textbox" required />
                        </ng-template>
                    </kendo-grid-column>

                    <kendo-grid-column title="Length" field="ItemLength" [width]="50">
                        <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                            <input [(ngModel)]="dataItem.ItemLength" kendoGridFocusable name="ItemLength"
                                class="k-textbox" type="number" required />
                        </ng-template>
                    </kendo-grid-column>

                    <kendo-grid-column title="Width" field="ItemWidth" [width]="50" editor="numeric" type="number">
                        <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                            <input [(ngModel)]="dataItem.ItemWidth" kendoGridFocusable name="ItemWidth"
                                class="k-textbox" type="number" required />
                        </ng-template>
                    </kendo-grid-column>

                    <kendo-grid-column title="Height" field="ItemHeight" [width]="50" editor="numeric">
                        <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                            <input [(ngModel)]="dataItem.ItemHeight" kendoGridFocusable name="ItemHeight"
                                class="k-textbox" type="number" required />
                        </ng-template>
                    </kendo-grid-column>

                    <kendo-grid-column title="Mass" field="ItemMass" [width]="50">
                        <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                            <input [(ngModel)]="dataItem.ItemMass" kendoGridFocusable name="ItemMass" class="k-textbox"
                                type="number" required />
                        </ng-template>
                    </kendo-grid-column>

                    <kendo-grid-command-column title="Options" width="220">
                        <ng-template kendoGridCellTemplate let-isNew="isNew">
                            <!-- edit the command directive, will be visible when not in edit mode -->
                            <button kendoGridEditCommand [primary]="true">Edit</button>
                            <!-- remove the command directive, will be visible when not in edit mode -->
                            <button kendoGridRemoveCommand>Remove</button>
                            <!-- save the command directive, will be visible when in edit mode -->
                            <button kendoGridSaveCommand>{{ isNew ? 'Add' : 'Update' }}</button>
                            <!-- cancel the command directive, will be visible when in edit mode -->
                            <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
                        </ng-template>
                    </kendo-grid-command-column>

                </kendo-grid>
            </form>
        </div>


        <!-- </div> -->
        <br>
        <div class="row">
            <div class="col-xl-3 offset-xl-1"></div>
            <div class="col-xl-2 offset-xl-1">
                <button type="button" class="btn"> Save </button>
                <button type="button" class="btn"> Cancel </button>
            </div>
        </div>

    </div>

</div>