<div class="container color-light"
    style="display:flex; flex-direction: row; justify-content: center; align-items: center">
    <div class="col" style="text-align: center;  height: 650px;">
        <div>

            <div class="btn-toolbar" role="toolbar"  style="text-align: left;">
                <button type="button" class="btn btn-default" (click)="addHandler()">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
                </button>
                <button type="button" class="btn btn-default btn" (click)="addHandler()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create
                </button>
                <button type="button" class="btn btn-default btn" (click)="addHandler()">
                        <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span> Scan
                </button>
            </div>
            <!-- <kendo-toolbar>
                <p>View Waybills</p>
                <kendo-toolbar-buttongroup [selection]="'single'">
                    <kendo-toolbar-button [toggleable]="true" [icon]="'refresh'" title="Refresh the current page"
                        [text]="'Refresh'"></kendo-toolbar-button>
                    <kendo-toolbar-button [toggleable]="true" [icon]="'add'" [text]="'Create'" (click)="addHandler()"
                        title="Creat new manifest"></kendo-toolbar-button>
                    <kendo-toolbar-button [toggleable]="true" [icon]="'scanner'" [text]="'Scan'"
                        class="k-icon k-i-file-add" title="Scan" (click)="addHandler()">
                        <span class="k-icon k-i-file-add" style="font-size: 16px;"></span>
                    </kendo-toolbar-button>
                    <button type="button" class="btn btn-labeled btn-success">Test</button>
                </kendo-toolbar-buttongroup>
            </kendo-toolbar> -->
            <kendo-grid [kendoGridBinding]="gridData" [pageSize]="10" [pageable]="true" [sortable]="true"
                [filterable]="true" [groupable]="true" [height]="550" [selectable]="true">
                <kendo-grid-checkbox-column showSelectAll="true" [width]="25"></kendo-grid-checkbox-column>
                <kendo-grid-column field="WaybillNumber" title="Waybill Number" [width]="100"></kendo-grid-column>
                <kendo-grid-column field="WaybillDate" title="Waybill Date" [width]="100"></kendo-grid-column>
                <kendo-grid-column field="Sender" title="Sender" [width]="130"></kendo-grid-column>
                <kendo-grid-column field="Receiver" title="Receiver" [width]="130"></kendo-grid-column>
                <kendo-grid-column field="ServiceType" title="Service Type" [width]="100"></kendo-grid-column>
                <kendo-grid-column field="CustomerReference" title="Customer Reference" [width]="100">
                </kendo-grid-column>
            </kendo-grid>

            <kendo-grid-scan-to-manifest-form [model]="newScanData" [isNew]="isNew" (save)="saveHandler($event)"
                (cancel)="cancelHandler()">
            </kendo-grid-scan-to-manifest-form>

        </div>
    </div>
</div>
<div>
    <!-- Spacer -->
    <br>
</div>