<div class="container color-light"
    style="display:flex; flex-direction: row; justify-content: center; align-items: center">
    <div class="col" style="text-align: center;">
        <p>View Sites</p>

        <div style="height: 600px;text-align: center">

            <kendo-toolbar>
                <kendo-toolbar-buttongroup [selection]="'single'">
                    <kendo-toolbar-button [toggleable]="true" [icon]="'add'" [text]="'Create'" title="Create New Site"></kendo-toolbar-button>
                    <kendo-toolbar-button [toggleable]="true" [icon]="'edit'" [text]="'Edit'" title="Edit Existing Site"></kendo-toolbar-button>
                    <kendo-toolbar-button [toggleable]="true" [icon]="'delete'" [text]="'Delete'" title="Delete Site"></kendo-toolbar-button>
                    <kendo-toolbar-button [toggleable]="true" (click)="exportToExcel(grid)" [icon]="'excel'" [text]="'Export'" title="Export to Excel"></kendo-toolbar-button>
                </kendo-toolbar-buttongroup>
 
            </kendo-toolbar>

            <kendo-grid #grid="kendoGrid" [kendoGridBinding]="gridData" [pageSize]="10" [buttonCount]=5 [pageable]="true" [sortable]="true"
                [filterable]="true" [groupable]="true" [height]="550" [selectable]="true">

                <ng-template kendoGridToolbarTemplate>
                        <button type="button" kendoGridExcelCommand icon="excel">Export to Excel</button>
                    </ng-template>

                <kendo-grid-checkbox-column showSelectAll="true" [width]="30"></kendo-grid-checkbox-column>
                <kendo-grid-column title="Site Code" field="SiteCode" [width]="140"></kendo-grid-column>
                <kendo-grid-column title="Site Name" field="SiteName" [width]="120"></kendo-grid-column>
                <kendo-grid-column title="Town" field="Address3" [width]="100"></kendo-grid-column>
                <kendo-grid-column title="City" field="Address4" [width]="130"></kendo-grid-column>
                <kendo-grid-column title="Postal Code" field="PostalCode" [width]="130"></kendo-grid-column>
                <kendo-grid-excel fileName="Sites.xlsx"></kendo-grid-excel>
            </kendo-grid>
        </div>
    </div>
</div>
<div>
    <!-- Spacer -->
    <br>
</div>