<div class="container color-light"
    style="display:flex; flex-direction: row; justify-content: center; align-items: center">

    <div class="container">
        <div class="row">
            <div class="col-xl-12" style="text-align: center;">
                <label class="heading">Printing Options</label>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xl-3 offset-xl-1"></div>
            <div class="col-xl-2">
                Waybill Printer:
            </div>
            <div class="col">
                <!-- <kendo-dropdownlist [data]="listPrinters" [textField]="'Code'" [valueField]="'Description'">
                </kendo-dropdownlist> -->

                <select class="dropdown" name="waybillPrinter" form="waybillPrinter" style="color: black!important;">
                    <option selected value="volvo">RICOH IM C3000 on Ne01:</option>
                    <option value="saab">Zerba TLP2488 on Ne02:</option>
                </select>


            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 offset-xl-1"></div>
            <div class="col-xl-2" style="text-align: right;">

            </div>
            <div class="col">
                <input type="radio" class="form-check-radio"> Preview waybill
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 offset-xl-1"></div>
            <div class="col-xl-2" style="text-align: right;">

            </div>
            <div class="col">
                <input type="radio" class="form-check-radio" checked> Autoprint waybill
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-xl-3 offset-xl-1"></div>
            <div class="col-xl-2">
                Label Printer:
            </div>
            <div class="col">
                <!-- <kendo-dropdownlist [data]="listPrinters" [textField]="'Code'" [valueField]="'Description'">
                </kendo-dropdownlist> -->



                <select class="dropdown" name="labelPrinter" form="labelPrinter" style="color: black!important;">
                    <option value="volvo">RICOH IM C3000 on Ne01:</option>
                    <option selected value="saab">Zerba TLP2488 on Ne02:</option>
                </select>

            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 offset-xl-1"></div>
            <div class="col-xl-2" style="text-align: right;"> </div>
            <div class="col">
                <input type="radio" class="form-check-radio"> Preview label(s)
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 offset-xl-1"></div>
            <div class="col-xl-2" style="text-align: right;">

            </div>
            <div class="col">
                <input type="radio" class="form-check-radio" checked> Autoprint label(s)
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-xl-3 offset-xl-1"></div>
            <div class="col-xl-2 offset-xl-1">
                <button type="button" class="btn"> Save </button>
                <button type="button" class="btn"> Cancel </button>
            </div>
        </div>

        <br>

    </div>